.container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2rem 10rem 0rem 10rem;
    gap:3rem;
}

.image{
    position: relative;
    height:500px;
   width:500px;
}
.form{
    display: grid;
    margin:3rem;
    gap:1rem;
}
.input{
    height:3rem;
    border-radius: 0.5rem;
    background-color: #2d2b42;
    color: white;
}
.textarea{
    border-radius: 0.5rem;
    background-color: #2d2b42;
    color: white;
}
.button{
    padding:1rem;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
}